.btn-group {
    width: 100%;
}

.btn-group .btn {
    width: 25%;
}


.page {
    width: 40% !important;
}

.bottomMarging{
    margin-bottom: 25px;
}

.topMarging{
    margin-top: 35px;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

a { 
    color: inherit; 
  } 
  
  a.disabled {
    pointer-events: none;
    
  }

  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
  }

  table{
    table-layout: fixed;
    width: 100%;
}