<!-- Buttons - Visible only on desktops-->
<div class="container bottomMarging">
  <div class="btn-group hidden-sm-down">
    <button type="button" class="btn btn-primary" (click)="updateCategory('awl')">AWL</button>
    <button type="button" class="btn btn-danger" (click)="updateCategory('hi')">High Frequency</button>
    <button type="button" class="btn btn-success" (click)="updateCategory('med')">Medium Frequency</button>
    <button type="button" class="btn btn-warning" (click)="updateCategory('low')">Low Frequency</button>
  </div>
</div>

<!-- Buttons - Visible only on cellphones-->
<div class="container bottomMarging">
  <div class="btn-group hidden-md-up" style="width: 200%;">
    <button type="button" class="btn btn-primary" (click)="updateCategory('awl')">AWL</button>
    <button type="button" class="btn btn-danger" (click)="updateCategory('hi')">High Frequency</button>
  </div>
</div>

<div class="container bottomMarging">
  <div class="btn-group hidden-md-up" style="width: 200%;">
    <button type="button" class="btn btn-success" (click)="updateCategory('med')">Medium Frequency</button>
    <button type="button" class="btn btn-warning" (click)="updateCategory('low')">Low Frequency</button>
  </div>
</div>

<!--Table-->
<div class='table-responsive table-hover table-striped' *ngIf='turnOn'>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Word</th>
        <th>Categorys</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let word of page.content'>
        <td>
          {{ word.value}}
        </td>
        <td>{{wordCategory}}</td>
      </tr>
    </tbody>
  </table>

  <div [ngSwitch]="activeCategory">
    <div *ngSwitchCase="'awl'">
      <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="awlpage" [maxSize]="4" [rotate]="true"
        [ellipses]="false" (pageChange)="getAWLWordList(awlpage)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'hi'">
      <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="hipage" [maxSize]="4" [rotate]="true"
        [ellipses]="false" (pageChange)="getHIWordList(hipage)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'med'">
      <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="medpage" [maxSize]="4" [rotate]="true"
        [ellipses]="false" (pageChange)="getMedWordList(medpage)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <div *ngSwitchCase="'low'">
      <ngb-pagination [collectionSize]="page.totalElements" [pageSize]="tableSize" [(page)]="lowpage" [maxSize]="4" [rotate]="true"
        [ellipses]="false" (pageChange)="getLowWordList(lowpage)" [boundaryLinks]="true"></ngb-pagination>
    </div>
    <hr class="bottomMarging">
    <!--Page Size-->
    <div class="btn-group col-md-4 float-right" ngbRadioGroup name="radioBasic" [(ngModel)]="tableSize">
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="20" (click)="getWordList(0, activeCategory, 20, sort);resetPagination()"> 20
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" value="60" (click)="getWordList(0, activeCategory, 60, sort);resetPagination()"> 60
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="100" (click)="getWordList(0, activeCategory, 100, sort);resetPagination()"> 100
      </label>
    </div>

    <!--Sorting-->
    <div class="btn-group col-md-4" ngbRadioGroup name="radioBasic" [(ngModel)]="sorting">
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="ASC" (click)="getWordList(0, activeCategory, tableSize, 'ASC' );resetPagination()"> ASC
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" value="DESC" (click)="getWordList(0, activeCategory, tableSize, 'DESC');resetPagination()"> DESC
      </label>
    </div>

    <div class="col-md-4" style="margin:0 auto;">
      <p><strong>page: {{page.number + 1}} / {{page.totalPages}}</strong> </p>
    </div>
    <hr class="topMarging">
  </div>
</div>
