.oneLine{
    display: inline;
    list-style-type: none;
    padding-right: 2px;
}

.equalLength{
      text-align: justify;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.gold {
    color: gold;
}


////////////////////////

.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blueBox {
  background: blue;
}

.redBox {
  background: red;
}

.greenBox {
  background: green;
}

.goldBox {
  background: gold;
}

.enhancedTextbox{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 992px) {
  .margin-responsive {
      margin-bottom: 70px;
  }
}