<div class="container-fluid" style="text-align:justify">
  <div class="card">
    <div class="card-header card-primary card-inverse bg-info">
      <i class="fa fa-fw fa-quote-right fa-2x float-right"></i>References&nbsp;&nbsp;
    </div>
    <div class="card-block bg-white">
      <p>
        <cite>
          <span>&#8226;</span>
          Begeny, J. C. and Greene, D. J. (2014), CAN READABILITY FORMULAS BE USED TO SUCCESSFULLY GAUGE DIFFICULTY OF READING MATERIALS?.
          Psychol. Schs., 51: 198–215.
          <a href="http://onlinelibrary.wiley.com/doi/10.1002/pits.21740/full" target="_blank">doi:10.1002/pits.21740</a>
        </cite>
      </p>
      <p>
        <cite>
          <span>&#8226;</span>
          Flesch, Rudolf. “How to Write Plain English.” Guide to Academic Writing Article - Management - University of Canterbury -
          New Zealand,
          <a href="http://www.mang.canterbury.ac.nz/writing_guide/writing/flesch.shtml" target="_blank" id='permalink_section' >
            www.mang.canterbury.ac.nz/writing_guide/writing/flesch.shtml.</a>
        </cite>
      </p>
    </div>
  </div>
</div>
<div class="container-fluid" style="text-align:justify">
  <div class="card">
    <div class="card-header card-primary card-inverse bg-success">
      <i class="fa fa-fw fa-cogs fa-2x float-right"></i>Technology&nbsp;&nbsp;
    </div>
    <div class="card-block bg-white">
      <p>
        <cite>
          <span>&#8226;</span>
          “Tesseract-Ocr/Tesseract.” GitHub, 10 Nov. 2017,
          <a href="https://github.com/tesseract-ocr/tesseract" target="_blank" id='permalink_section'>github.com/tesseract-ocr/tesseract</a>.
        </cite>
      </p>
      <p>
        <cite>
          <span>&#8226;</span>
          “OpenCV library.” OpenCV library,
          <a href="https://opencv.org/" target="_blank">opencv.org/</a>.
        </cite>
      </p>
      <p>
        <cite>
          <span>&#8226;</span>
          R. Guo, Q. Dai and D. Hoiem, "Single-image shadow detection and removal using paired regions," CVPR 2011, Providence, RI,
          2011, pp. 2033-2040. doi: 10.1109/CVPR.2011.5995725 URL:
          <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=5995725&isnumber=5995307" target="_blank" id='permalink_section'>'http://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=5995725&isnumber=5995307'</a>
        </cite>
      </p>
      <p>
        <cite>
          <span>&#8226;</span>
          Zucker, Matt. “Page dewarping.” Needlessly complex, 14 Aug. 2016,
          <a href="https://mzucker.github.io/2016/08/15/page-dewarping.html" target="_blank" id='permalink_section'>mzucker.github.io/2016/08/15/page-dewarping.html</a>.
        </cite>
      </p>
      <p>
        <cite>
          <span>&#8226;</span>
          “Wiktionary” Wiktionary, the free dictionary,
          <a href="https://en.wiktionary.org/wiki/Wiktionary:Main_Page" target="_blank" id='permalink_section'>en.wiktionary.org/wiki/Wiktionary:Main_Page</a>.
        </cite>
      </p>
    </div>
  </div>
</div>