<div [@routerTransition]>

	<div class="row  margin-responsive topMargin">
		<div class="card card-info card-inverse mb-3 col-lg-11 center-block">
			<div class="card-header card-primary fontTitle">
				<i class="fa fa-fw fa-keyboard-o fa-2x float-right" title="Enter your text"></i>Enter your text
			</div>
			<div class="card-block bg-white">
				<textarea class="form-control" name="textArea" id="exampleTextarea" rows="10" maxlength="3000" [(ngModel)]="textArea" required></textarea>
				<br>
				<div class="form-group col-lg-4 col-md-3 fontStyle">
					<label for="exampleFormControlSelect1">AWK</label>
					<select class="form-control" id="exampleFormControlSelect1">
      			<option>Blue</option>
      			<option>Red</option>
      			<option>Green</option>
     			<option>Cyan</option>
      			<option>Orange</option>
    		</select>
				</div>
				<div class="form-group col-lg-4 col-md-3 fontStyle">
					<label for="exampleFormControlSelect1"> Low Frequency</label>
					<select class="form-control" id="exampleFormControlSelect1">
				<option>Red</option>
				<option>Blue</option>
				<option>Green</option>
				<option>Cyan</option>
				<option>Orange</option>
   			 </select>
				</div>
				<div class="form-group col-lg-4 col-md-3 fontStyle">
					<label for="exampleFormControlSelect1"> Medium Frequency</label>
					<select class="form-control" id="exampleFormControlSelect1">
				<option>Green</option>
				<option>Blue</option>
				<option>Red</option>
				<option>Cyan</option>
				<option>Orange</option>
			</select>
				</div>
				<div class="form-group col-lg-4 col-md-3 fontStyle">
					<label for="exampleFormControlSelect1"> High Frequency</label>
					<select class="form-control" id="exampleFormControlSelect1">
				<option>Orange</option>
				<option>Blue</option>
				<option>Red</option>
				<option>Green</option>
				<option>Cyan</option>
			</select>
				</div>
				<div class="col-lg-2 col-md-2">
					<button type="button" class="btn btn-secondary" (click)="enhancedText2()" ng-disabled="textArea.$invalid">Proceed</button>
				</div>

			</div>
		</div>
	</div>

</div>