<footer class="footer">
    <div class="container">
        <div class="row text-muted copyright">
            <div class="col-xl-4 col-md-7 col-sm-6">
                <span class="text-muted copyright">Copyright © 2017. All rights reserved.</span>
            </div>
            <div class="offset-xl-4 col-xl-4 col-md-5 col-sm-6 ">
                <span class="col-md-4 ">
                    <a class="text-muted"[routerLink]="['/contact-us']" [routerLinkActive]="['router-link-active']" >Contact Us</a>
                </span>
                <span class="col-md-4 hidden-sm-down">
                    <a class="text-muted" href="/swagger-ui.html">|&nbsp;&nbsp; API &nbsp;&nbsp;|</a>
                </span>
                <span class="col-md-4 hidden-sm-down">
                    <a class="text-muted" href="/admin">Admin</a>
                </span>
            </div>
        </div>
    </div>
</footer>