.footer {
  padding-left: 280px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 50px; /* Vertically center the text there */
  background-color: #f2f2f2;
  font-size: .9em;
}

 a:visited { 
     text-decoration: none; 
     } 
 a:hover { 
     text-decoration: none !important;
     color: #222222 !important; 
     } 

.copyright{
    color: #888888 !important;
}   

@media screen and (max-width: 992px) {
    .footer {
        padding-left: 0px;
        
    }
}

@media screen and (max-width: 575px) {
    .footer {
        padding-left: 0px;
        text-align: center;
    }
}

