<footer class="footer">
	<div class="container">
        <!--disapears on mobile devices-->
        <a class="float-right hidden-xs-down" href="#">API</a>
        <a class="float-right hidden-xs-down" href="#">Documents&nbsp;&nbsp;|&nbsp;&nbsp;</a>
        <a class="float-right hidden-xs-down" [routerLink]="['/login']">Admin&nbsp;&nbsp;|&nbsp;&nbsp;</a>
        <!-- Only shows on mobile-->
        <a class="hidden-sm-up" [routerLink]="['/login']">Admin&nbsp;&nbsp;|&nbsp;&nbsp;</a>
        <a class="hidden-sm-up" href="#">Documents&nbsp;&nbsp;|&nbsp;&nbsp;</a>
        <a class="hidden-sm-up" href="#">API</a>
        <br class="hidden-sm-up">

        <span class="text-muted copyright">Copyright © 2017. All rights reserved.</span><br>
	</div>
</footer>