<footer class="footer">
    <div class="container">
        <div class="row text-muted copyright">
            <div class="col-xl-4 col-md-6 col-sm-6">
                <span class="text-muted copyright">Copyright © 2017. All rights reserved.</span>
            </div>
            <div class="offset-xl-3 col-xl-5 col-md-6 col-sm-7 ">
                <span class="col-md-3 ">
                    <a class="text-muted" [routerLink]="['/contact-us']" [routerLinkActive]="['router-link-active']">Contact Us</a>
                </span>
                <span class="col-md-3 ">
                    <a class="text-muted" [routerLink]="['/credits']" [routerLinkActive]="['router-link-active']">|&nbsp;&nbsp; Reference</a>
                </span>
                <span class="col-md-3 hidden-sm-down">
                    <a class="text-muted" href="/swagger-ui.html">|&nbsp;&nbsp; API &nbsp;&nbsp;|</a>
                </span>
                <span class="col-md-3 hidden-sm-down">
                    <a class="text-muted" href="/admin">Admin</a>
                </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-muted copyright">
            <div class="col-xl-3 col-md-7 col-sm-4">
                <span class="text-muted copyright">Follow us on:&nbsp;&nbsp; </span>
                <a class="text-muted" href="https://www.instagram.com/vocabulary_in_reading/?hl=en" target="_blank">
                    <img src="assets/images/instagramlogo.png">
                </a>
            </div>
            <div class="offset-xl-4 col-xl-4 col-md-5 col-sm-8">
                <span class="">
                    <a class="text-muted" href="itms://itunes.apple.com/us/app/vocabulary-in-reading-study/id1307321112?ls=1&mt=8" target="_blank">
                        <img src="assets/images/apple.png" alt="IOS App">
                    </a>
                </span>
                <span class="">
                    <a class="text-muted" href="https://play.google.com/store/apps/details?id=com.vir.vir_android&hl=en" target="_blank">
                        <img src="assets/images/googleplay.png" alt="Andriod App">
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>