<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<ul class="list-group">
		<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-home"></i>&nbsp;{{ 'home' | translate }}
		</a>
		<a [routerLink]="['/text']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-keyboard-o"></i>&nbsp;{{ 'text' | translate }}
		</a>
		<a [routerLink]="['/doc']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-file-text"></i>&nbsp;{{ 'doc' | translate }}
		</a>
		<a [routerLink]="['/pdf']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-file-pdf-o"></i>&nbsp;{{ 'pdf' | translate }}
		</a>
		<a [routerLink]="['/image']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-picture-o"></i>&nbsp;{{ 'image' | translate }}
		</a>
		<div class="nested-menu">
			<a class="list-group-item" (click)="addExpandClass('pages')">
				<span><i class="fa fa-plus"></i>&nbsp; {{ 'dictionary' | translate }}</span>
			</a>
			<li class="nested" [class.expand]="showMenu === 'pages'">
				<ul class="submenu">
					<li>
                        <a [routerLink]="['/awk']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							&nbsp;{{ 'AWK' | translate }}
						</a>
					</li>
					<li>
                        <a [routerLink]="['/lowfrequency']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							&nbsp;{{ 'low frequency' | translate }}
						</a>
					</li>
					<li>
                        <a [routerLink]="['/mediumfrequency']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							&nbsp;{{ 'medium frequency' | translate }}
						</a>
					</li>
					<li>
						<a [routerLink]="['/highfrequency']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							&nbsp;{{ 'high frequency' | translate }}
						</a>
					</li>
				</ul>
			</li>
		</div>
		<a [routerLink]="['#']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-picture-o"></i>&nbsp;{{ 'instruction' | translate }}
		</a>
	</ul>
</nav>