<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<ul class="list-group">
		<a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-home"></i>&nbsp;{{ 'home' | translate }}
		</a>




		<div class="nested-menu">
			<a class="list-group-item" (click)="addExpandClass('upload')">
				<span><i class="fa fa-plus"></i>&nbsp; {{ 'Upload' | translate }}</span>
			</a>
			<li class="nested" [class.expand]="showMenu === 'upload'">
				<ul class="submenu">
					<li>
						<a [routerLink]="['/text']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-keyboard-o"></i>&nbsp;{{ 'text' | translate }}
						</a>
					</li>
					<li>
						<a [routerLink]="['/doc']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-file-text"></i>&nbsp;{{ 'doc' | translate }}
						</a>
					</li>
					<li>
						<a [routerLink]="['/pdf']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-file-pdf-o"></i>&nbsp;{{ 'pdf' | translate }}
						</a>
					</li>
					<li>
						<a [routerLink]="['/image']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-picture-o"></i>&nbsp;{{ 'image' | translate }}
						</a>
					</li>
				</ul>
			</li>
		</div>


		<div class="nested-menu">
			<a class="list-group-item" (click)="addExpandClass('dictionary')">
				<span><i class="fa fa-plus"></i>&nbsp; {{ 'dictionary' | translate }}</span>
			</a>
			<li class="nested" [class.expand]="showMenu === 'dictionary'">
				<ul class="submenu">
					<li>
						<a [routerLink]="['/awk']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							&nbsp;{{ 'AWK' | translate }}
						</a>
					</li>
					<li>
						<a [routerLink]="['/lowfrequency']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							&nbsp;{{ 'low frequency' | translate }}
						</a>
					</li>
					<li>
						<a [routerLink]="['/mediumfrequency']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							&nbsp;{{ 'medium frequency' | translate }}
						</a>
					</li>
					<li>
						<a [routerLink]="['/highfrequency']" [routerLinkActive]="['router-link-active']" class="list-group-item">
							&nbsp;{{ 'high frequency' | translate }}
						</a>
					</li>
				</ul>
			</li>
		</div>
		<div class="nested-menu">
				<a class="list-group-item" (click)="addExpandClass('test')">
					<span><i class="fa fa-plus"></i>&nbsp; {{ 'tests' | translate }}</span>
				</a>
				<li class="nested" [class.expand]="showMenu === 'test'">
					<ul class="submenu">
						<li>
							<a [routerLink]="['/readingTest']" [routerLinkActive]="['router-link-active']" class="list-group-item">
								&nbsp;{{ 'reading' | translate }}
							</a>
						</li>
						<li>
							<a [routerLink]="['/vocabularyTest']" [routerLinkActive]="['router-link-active']" class="list-group-item">
								&nbsp;{{ 'vocabulary' | translate }}
							</a>
						</li>
					</ul>
				</li>
			</div>
		<a [routerLink]="['#']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-info-circle"></i>&nbsp;{{ 'instruction' | translate }}
		</a>
	</ul>
</nav>